body{
    margin: 0;
    width: 330px;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 9px;
}

tr:nth-child(even){background-color: #f2f2f2}

#ustSatir{
    background-color: #0D65AC;
    color: white;
}

*{
    font-family: 'Fira Sans Condensed', sans-serif;
}

td{
    font-size: 17px;
}