body{
    margin: 0;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}

#ustSatir{
    background-color: #0D65AC;
    color: white;
}